@charset "UTF-8";

/* Typical Device BreakPoints 
================================================
Telas pequenas -> Até 600px;
Celulares -> 600px Até 768px;
Tablets -> 768px Até 992px;
Laptops/Destktops -> 992px até 1200px;
Telas grandes acima de 1200px.
================================================
*/

:root{
    --verde: #49a09d;
    --lilas: #5f2c82;
}




/*Tablets*/
@media screen and (min-width: 768px) and (max-width: 992px){

    body{
        background-image: linear-gradient(to top, var(--verde), var(--lilas));
    }


    section#login{
        width: 80vw;
        background-position: bottom bottom;
    }
    section#login > div#imagem{
        float: left;
        width: 30%;
        height: 100%;
    }
    section#login > div#formulario{
       float: right;
       width: 70%;
    }
}

/*Laptops*/
@media screen and (min-width: 992px) and (max-width: 1200px) {
    
    body{
        background-image: linear-gradient(to top, var(--verde), var(--lilas));
    }

    section#login {
        width: 70vw;
        background-position: bottom;
    }
    section#login > div#imagem{
        float: left;
        width: 45%;
        height: 100%;
    }
    section#login > div#formulario{
        float: right;
        width: 55%;
    }
}

/*Telas Grandes*/
@media screen and (min-width: 1200px){
    body{
        background-image: linear-gradient(to top, var(--verde), var(--lilas));
    }

    section#login{
        width: 75vw;
    }
}
